{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %} LuizG - Blog {% endblock title %}
{% block custom_style %}
  <link rel="stylesheet" href="{% static 'css/blog/style.css' %}">
{% endblock custom_style %}
{% block content %}
<section class="blog-container">
  <div class="blog-header">
    <div class="row">
      <div class="col">
        <h3>{% trans "Blog" %}</h3>
        <h4>{% trans "All posts!" %}</h4>
      </div>
      {% if user.is_authenticated %}
        <div class="col col-lg-2 fr">
          <a class="btn btn-info" style="color: #fff" href="{% url 'new_blog_post' %}">
            <i class="mdi mdi-plus"></i> {% trans "New Post" %}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="blog-posts">
    <ul class="list-unstyled">
      <hr>
      {% for post in posts %}
        <li class="media">
          <div class="media-body">
            <a class="mt-0 fs-22 post-title-link" href="{{ post.get_absolute_url }}"><b>{{ post.title }}</b></a>
            <p>{{ post.content }}</p>
            <p>
              <span class="post-likes">{{ post.likes }} likes</span>
              <span class="post-date">{% trans "Published by" %} <b>{{ post.author }}</b> {% trans "at" %} <b>{{ post.createdAt }}</b></span>
            </p>
          </div>
        </li>
        <hr>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock content %}