{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %} LuizG - Blog : {% trans "New post" %} {% endblock title %}
{% block custom_style %}
  <link rel="stylesheet" href="{% static 'css/blog/post.css' %}">
{% endblock custom_style %}
{% block content %}

<!-- Vue APP ( this is the page too) -->
<section class="container blog-container" id="app">
  <div>
    <label for="title">Title</label>
    <input type="text" name="title" class="title_input">
  </div>
  <div class="editor">
    <quill-editor
      ref="quillEditor"
      v-model="content"
      :options="editorOption"
      @blur="onEditorBlur($event)"
      @focus="onEditorFocus($event)"
      @ready="onEditorReady($event)"
    />
  </div>
</section>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-quill-editor@3.0.6/dist/vue-quill-editor.js"></script>
<link href="https://cdn.quilljs.com/1.3.4/quill.core.css" rel="stylesheet">
<link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
<link href="https://cdn.quilljs.com/1.3.4/quill.bubble.css" rel="stylesheet">

<!-- This should be the last to be included! -->
<script src="{% static 'js/blog/main.js' %}"></script>
{% endblock content %}