.ql-editor {
  font-family: serif !important;
  font-size: 1.35rem;
  border-left: none !important;
  line-height: 1.6 !important;
  padding: 12px 0px !important;
}

.ql-editor p, h1, h2, h3, h4, h5, h6 {
  font-family: serif !important;
  text-align: justify;
}

.ql-editor h2 {
  font-size: 1.29rem;
}

.blog-container {
  padding-top: 40px;
}