/* FONT-SIZE Helpers*/
.fts-0, .font-size-0 {
  font-size: 0pt !important;
}

.fts-1, .font-size-1 {
  font-size: 1pt !important;
}

.fts-2, .font-size-2 {
  font-size: 2pt !important;
}

.fts-3, .font-size-3 {
  font-size: 3pt !important;
}

.fts-4, .font-size-4 {
  font-size: 4pt !important;
}

.fts-5, .font-size-5 {
  font-size: 5pt !important;
}

.fts-6, .font-size-6 {
  font-size: 6pt !important;
}

.fts-7, .font-size-7 {
  font-size: 7pt !important;
}

.fts-8, .font-size-8 {
  font-size: 8pt !important;
}

.fts-9, .font-size-9 {
  font-size: 9pt !important;
}

.fts-10, .font-size-10 {
  font-size: 10pt !important;
}

.fts-11, .font-size-11 {
  font-size: 11pt !important;
}

.fts-12, .font-size-12 {
  font-size: 12pt !important;
}

.fts-13, .font-size-13 {
  font-size: 13pt !important;
}

.fts-14, .font-size-14 {
  font-size: 14pt !important;
}

.fts-15, .font-size-15 {
  font-size: 15pt !important;
}

.fts-16, .font-size-16 {
  font-size: 16pt !important;
}

.fts-17, .font-size-17 {
  font-size: 17pt !important;
}

.fts-18, .font-size-18 {
  font-size: 18pt !important;
}

.fts-19, .font-size-19 {
  font-size: 19pt !important;
}

.fts-20, .font-size-20 {
  font-size: 20pt !important;
}

.fts-21, .font-size-21 {
  font-size: 21pt !important;
}

.fts-22, .font-size-22 {
  font-size: 22pt !important;
}

.fts-23, .font-size-23 {
  font-size: 23pt !important;
}

.fts-24, .font-size-24 {
  font-size: 24pt !important;
}

.fts-25, .font-size-25 {
  font-size: 25pt !important;
}

.fts-26, .font-size-26 {
  font-size: 26pt !important;
}

.fts-27, .font-size-27 {
  font-size: 27pt !important;
}

.fts-28, .font-size-28 {
  font-size: 28pt !important;
}

.fts-29, .font-size-29 {
  font-size: 29pt !important;
}

.fts-30, .font-size-30 {
  font-size: 30pt !important;
}

.fts-31, .font-size-31 {
  font-size: 31pt !important;
}

.fts-32, .font-size-32 {
  font-size: 32pt !important;
}

.fts-33, .font-size-33 {
  font-size: 33pt !important;
}

.fts-34, .font-size-34 {
  font-size: 34pt !important;
}

.fts-35, .font-size-35 {
  font-size: 35pt !important;
}

.fts-36, .font-size-36 {
  font-size: 36pt !important;
}

.fts-37, .font-size-37 {
  font-size: 37pt !important;
}

.fts-38, .font-size-38 {
  font-size: 38pt !important;
}

.fts-39, .font-size-39 {
  font-size: 39pt !important;
}

.fts-40, .font-size-40 {
  font-size: 40pt !important;
}

.fts-41, .font-size-41 {
  font-size: 41pt !important;
}

.fts-42, .font-size-42 {
  font-size: 42pt !important;
}

.fts-43, .font-size-43 {
  font-size: 43pt !important;
}

.fts-44, .font-size-44 {
  font-size: 44pt !important;
}

.fts-45, .font-size-45 {
  font-size: 45pt !important;
}

.fts-46, .font-size-46 {
  font-size: 46pt !important;
}

.fts-47, .font-size-47 {
  font-size: 47pt !important;
}

.fts-48, .font-size-48 {
  font-size: 48pt !important;
}

.fts-49, .font-size-49 {
  font-size: 49pt !important;
}

.fts-50, .font-size-50 {
  font-size: 50pt !important;
}

.fts-51, .font-size-51 {
  font-size: 51pt !important;
}

.fts-52, .font-size-52 {
  font-size: 52pt !important;
}

.fts-53, .font-size-53 {
  font-size: 53pt !important;
}

.fts-54, .font-size-54 {
  font-size: 54pt !important;
}

.fts-55, .font-size-55 {
  font-size: 55pt !important;
}

.fts-56, .font-size-56 {
  font-size: 56pt !important;
}

.fts-57, .font-size-57 {
  font-size: 57pt !important;
}

.fts-58, .font-size-58 {
  font-size: 58pt !important;
}

.fts-59, .font-size-59 {
  font-size: 59pt !important;
}

.fts-60, .font-size-60 {
  font-size: 60pt !important;
}

.fts-61, .font-size-61 {
  font-size: 61pt !important;
}

.fts-62, .font-size-62 {
  font-size: 62pt !important;
}

.fts-63, .font-size-63 {
  font-size: 63pt !important;
}

.fts-64, .font-size-64 {
  font-size: 64pt !important;
}

.fts-65, .font-size-65 {
  font-size: 65pt !important;
}

.fts-66, .font-size-66 {
  font-size: 66pt !important;
}

.fts-67, .font-size-67 {
  font-size: 67pt !important;
}

.fts-68, .font-size-68 {
  font-size: 68pt !important;
}

.fts-69, .font-size-69 {
  font-size: 69pt !important;
}

.fts-70, .font-size-70 {
  font-size: 70pt !important;
}

.fts-71, .font-size-71 {
  font-size: 71pt !important;
}

.fts-72, .font-size-72 {
  font-size: 72pt !important;
}

.fts-73, .font-size-73 {
  font-size: 73pt !important;
}

.fts-74, .font-size-74 {
  font-size: 74pt !important;
}

.fts-75, .font-size-75 {
  font-size: 75pt !important;
}

.fts-76, .font-size-76 {
  font-size: 76pt !important;
}

.fts-77, .font-size-77 {
  font-size: 77pt !important;
}

.fts-78, .font-size-78 {
  font-size: 78pt !important;
}

.fts-79, .font-size-79 {
  font-size: 79pt !important;
}

.fts-80, .font-size-80 {
  font-size: 80pt !important;
}

.fts-81, .font-size-81 {
  font-size: 81pt !important;
}

.fts-82, .font-size-82 {
  font-size: 82pt !important;
}

.fts-83, .font-size-83 {
  font-size: 83pt !important;
}

.fts-84, .font-size-84 {
  font-size: 84pt !important;
}

.fts-85, .font-size-85 {
  font-size: 85pt !important;
}

.fts-86, .font-size-86 {
  font-size: 86pt !important;
}

.fts-87, .font-size-87 {
  font-size: 87pt !important;
}

.fts-88, .font-size-88 {
  font-size: 88pt !important;
}

.fts-89, .font-size-89 {
  font-size: 89pt !important;
}

.fts-90, .font-size-90 {
  font-size: 90pt !important;
}

.fts-91, .font-size-91 {
  font-size: 91pt !important;
}

.fts-92, .font-size-92 {
  font-size: 92pt !important;
}

.fts-93, .font-size-93 {
  font-size: 93pt !important;
}

.fts-94, .font-size-94 {
  font-size: 94pt !important;
}

.fts-95, .font-size-95 {
  font-size: 95pt !important;
}

.fts-96, .font-size-96 {
  font-size: 96pt !important;
}

.fts-97, .font-size-97 {
  font-size: 97pt !important;
}

.fts-98, .font-size-98 {
  font-size: 98pt !important;
}

.fts-99, .font-size-99 {
  font-size: 99pt !important;
}

.fts-100, .font-size-100 {
  font-size: 100pt !important;
}

.fts-101, .font-size-101 {
  font-size: 101pt !important;
}

.fts-102, .font-size-102 {
  font-size: 102pt !important;
}

.fts-103, .font-size-103 {
  font-size: 103pt !important;
}

.fts-104, .font-size-104 {
  font-size: 104pt !important;
}

.fts-105, .font-size-105 {
  font-size: 105pt !important;
}

.fts-106, .font-size-106 {
  font-size: 106pt !important;
}

.fts-107, .font-size-107 {
  font-size: 107pt !important;
}

.fts-108, .font-size-108 {
  font-size: 108pt !important;
}

.fts-109, .font-size-109 {
  font-size: 109pt !important;
}

.fts-110, .font-size-110 {
  font-size: 110pt !important;
}

.fts-111, .font-size-111 {
  font-size: 111pt !important;
}

.fts-112, .font-size-112 {
  font-size: 112pt !important;
}

.fts-113, .font-size-113 {
  font-size: 113pt !important;
}

.fts-114, .font-size-114 {
  font-size: 114pt !important;
}

.fts-115, .font-size-115 {
  font-size: 115pt !important;
}

.fts-116, .font-size-116 {
  font-size: 116pt !important;
}

.fts-117, .font-size-117 {
  font-size: 117pt !important;
}

.fts-118, .font-size-118 {
  font-size: 118pt !important;
}

.fts-119, .font-size-119 {
  font-size: 119pt !important;
}

.fts-120, .font-size-120 {
  font-size: 120pt !important;
}

.fts-121, .font-size-121 {
  font-size: 121pt !important;
}

.fts-122, .font-size-122 {
  font-size: 122pt !important;
}

.fts-123, .font-size-123 {
  font-size: 123pt !important;
}

.fts-124, .font-size-124 {
  font-size: 124pt !important;
}

.fts-125, .font-size-125 {
  font-size: 125pt !important;
}

.fts-126, .font-size-126 {
  font-size: 126pt !important;
}

.fts-127, .font-size-127 {
  font-size: 127pt !important;
}

.fts-128, .font-size-128 {
  font-size: 128pt !important;
}

.fts-129, .font-size-129 {
  font-size: 129pt !important;
}

.fts-130, .font-size-130 {
  font-size: 130pt !important;
}

.fts-131, .font-size-131 {
  font-size: 131pt !important;
}

.fts-132, .font-size-132 {
  font-size: 132pt !important;
}

.fts-133, .font-size-133 {
  font-size: 133pt !important;
}

.fts-134, .font-size-134 {
  font-size: 134pt !important;
}

.fts-135, .font-size-135 {
  font-size: 135pt !important;
}

.fts-136, .font-size-136 {
  font-size: 136pt !important;
}

.fts-137, .font-size-137 {
  font-size: 137pt !important;
}

.fts-138, .font-size-138 {
  font-size: 138pt !important;
}

.fts-139, .font-size-139 {
  font-size: 139pt !important;
}

.fts-140, .font-size-140 {
  font-size: 140pt !important;
}

.fts-141, .font-size-141 {
  font-size: 141pt !important;
}

.fts-142, .font-size-142 {
  font-size: 142pt !important;
}

.fts-143, .font-size-143 {
  font-size: 143pt !important;
}

.fts-144, .font-size-144 {
  font-size: 144pt !important;
}

.fts-145, .font-size-145 {
  font-size: 145pt !important;
}

.fts-146, .font-size-146 {
  font-size: 146pt !important;
}

.fts-147, .font-size-147 {
  font-size: 147pt !important;
}

.fts-148, .font-size-148 {
  font-size: 148pt !important;
}

.fts-149, .font-size-149 {
  font-size: 149pt !important;
}

.fts-150, .font-size-150 {
  font-size: 150pt !important;
}
/*# sourceMappingURL=helpers.css.map */